/**
 * Variables
*/

$colors: (
    black: #011c27,
    white: #fff,
    grey: rgba(122, 112, 112, 0.6), 
    light-grey: rgba(122, 112, 112, 0.3), 
    purple: #953189,
    darkblue: #03254e,
    darkpink: #d52d5c,
    red: #ff0000
);

$colorNumbers: (
    1: #011c27,
    2: #fff,
    3: rgba(122, 112, 112, 0.6), 
    4: #953189,
    5: #03254e,
    6: #d52d5c,
    7: #ff0000
);
