/**
* Additional Information page
*/ 

@use '../abstracts/variables' as vars;
@use 'sass:map';

#aiContainer, #ai_googleContainer {


    .aiHeader {
        font-size: 1.5rem;
        width: 80%;
        text-align: center;
    }

    .AIForm {
        margin-bottom: 20px;
    }
}
