/**
 *
 */

 @use '../abstracts/variables' as vars;
 @use 'sass:map';

#error {
    display: none;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 0.7rem;
    background-color: map.get($map: vars.$colors, $key: darkpink);
    color: map.get($map: vars.$colors, $key: white);
    border-radius: 10px;
}