/**
 *
 */

 @use '../abstracts/variables' as vars;
 @use 'sass:map';

.comment {
    width: 450px;
    margin: 0 0 50px;
    padding: 10px;
    position: relative;

    & .userCredentials {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        & .userAvatar {
            background-color: map.get($map: vars.$colors, $key: darkblue);
            color: map.get($map: vars.$colors, $key: white);
            width: 50px;
            height: 50px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

        .username, .bullet, .date {
            color: map.get($map: vars.$colors, $key: grey);
        }
    }

    & .commentMessage {
        width: 80%;
        height: auto;
    }

   
}